*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.aaaaa{
    min-width: 1192px;
    margin: 0 auto;
    width: 100%;
}
.header-container{
    background-color: antiquewhite;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.manage-finance{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    width: 45%;
    padding: 10px;
    color: rgb(77, 142, 90);
    display: flex;
    justify-content: center;
    text-align: center;
}
.about-us, .contact-us{
    color: rgb(77, 142, 90);
    font-size: 1.5rem;
    width: 20vw;
    border: 5px solid grey;
    border-radius: 30px;
    display: inline;
    padding: 8px;
    
}
.anchor{
    text-decoration: none;
    
}
.container1, .container2, .container3{
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    background-color:rgb(14, 113, 133);
    height: 50px;
    align-items: center;
    
}
.container1 .div-11, .container1 .div-12{
    border: 3px solid grey;
    border-radius: 30px;
    padding: 13px;
    background-color:whitesmoke;
}
.container123{
    background-color: rgb(14, 113, 133);
    height: 225px;
}
.container2 .div-21, .container2 .div-22, .container2 .div-24{
    border: 3px solid grey;
    border-radius: 30px;
    padding: 15px;
    background-color:whitesmoke;
}
.reset-all{
    width: 130px;
    cursor: pointer;
    color: green;
    background-color: black;
    border: 3px solid grey;
    border-radius: 30px;
    padding: 13px;
}
.total-salary{
    width: 180px;
    text-align: center;
    border-radius: 30px 0 0 30px;
    border: 3px solid grey;
    border-right: 0;
    padding: 13px;
    background-color:whitesmoke;
}
.add-salary {
    width: 130px;
    border: 3px solid grey;
    border-radius: 0 30px 30px 0;
    border-left: 0;
    padding: 13px;
    background-color:whitesmoke;
    cursor: pointer;
}
.div-13{
    display: flex;
}
.div-23{
    display: flex;
    width: 36%;
    justify-content: center;
}
.salary{
    border: 3px solid grey;
    border-left: 0;
    border-radius: 0 30px 30px 0;
    padding: 15px;
    padding: 15px 15px 15px 0;
    background-color:whitesmoke;
}
.salary-text{
    border-radius: 30px 0 0 30px;
    border: 3px solid grey;
    border-right: 0;
    padding: 15px 0 15px 15px;
    background-color:whitesmoke;
}


.div-01 {
    position: fixed;
    bottom: 50px;
    right: 50px;
    justify-content: center;
    border-radius: 60px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100px;
    border: 3px solid grey;
    background-color: lightblue;
    z-index: 1;
    cursor: move;
}

.div-01 {
    transition: background-color 2s ease-in-out;
}
.container3 .div-31, .container3 .div-32, .container3 .div-33{
    border: 3px solid grey;
    border-radius: 30px;
    padding: 15px;
    background-color:whitesmoke;
}

button{
    font-size: 15px;
}
.reset-deleted{
    cursor: pointer;
    background-color: black;
    color: green;
    padding: 15px;
    border: 3px solid grey;
    border-radius: 30px;
}
.container45{
    background-color: rgb(202, 237, 61);
    padding-bottom: 10px;
}
.container4, .container5{
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    height: 50px;
    align-items: center;
}
.container4{
    margin-right: 100px;
    margin-left: 100px;
}
.container4 span{
    font-size: 25px;
}
.container5 input, .container5 option, .container5 button, .container5 span, .container5 select, .display-data1 span, .display-data1 button, .display-data2 span, .display-data2 button{
    font-size: 20px;
}
.expense-amount{
    margin-left: 70px;
}
.amount-input{
    border: 3px solid grey;
    border-radius: 30px;
    padding: 15px;
    background-color:whitesmoke;
    width: 160px;
    position: relative;
    right: 25px;
    text-align: center;
}

.expense-input{
    border: 3px solid grey;
    border-radius: 30px;
    padding: 15px;
    background-color:whitesmoke;
    width: 360px;
}
.date1{
    position: relative;
    right: 20px;
}
.expense-method{
    position: relative;
    right: 40px;
}
.method-input{
    border: 3px solid rgb(19, 172, 141);
    border-radius: 30px;
    padding: 10px 0 10px 10px;
    background-color: rgba(84, 156, 219, 0.8);
    cursor: pointer;
}
.add{
    border: 3px solid grey;
    border-radius: 30px;
    padding: 13px;
    background-color: rgb(227, 105, 105);
    width: 130px;
    cursor: pointer;
}
.display-data{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.display-data1, .display-data2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin-top: 3px;
    border-radius: 40px;
}
.display-data1{
    background-color: rgba(237, 102, 102, 0.33);
    margin-bottom: 3px;
    
}
.display-data2{
    background-color: rgba(76, 213, 149, 0.33);
    margin-bottom: 3px;
}
.js-1{
    padding: 15px;
    width: 360px;
}
.js-2{
    position: relative;
    right: 20px;
}
.js-5{
    border: 3px solid grey;
    border-radius: 30px;
    padding: 13px;
    background-color: black;
    color: green;
    width: 130px;
    cursor: pointer;
}
@media (min-width: 1192px){
    .aaaaa{
        width: 100%;
    }
}
